@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --yellow:#f9d806;
    --light-yellow:#ffee80;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}
body{
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif; 
    box-sizing:border-box;
    margin: 0;
    padding:0;
    color: #505962;
     

}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size:0.9rem;
  letter-spacing: .1rem;
  background:rgba(134, 103, 103, 0.6)!important;
    
}   
.navbar-brand img{
  height: 3rem;

}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #8d1e8d;
  padding-top:.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #251e8d;
}

  /*--- Vechicle slider section ---*/
  section{
    padding:2rem 9%;
}

.heading{
	padding-bottom: 2rem;
    text-align: center;
    font-size: 4.5rem;
    color:var(--black);
 }
.heading span{
	 font-weight: 500;
	 color: #4d3166;
	 position: relative;
	 z-index: 0;
 }
 .heading span::before{
    content: '';
    position: absolute;
    bottom:1rem; left:0;
    height: 100%;
    width: 100%;
    background: var(--light-yellow);
    z-index: -1;
    clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.heading p{
	 font-size: 0.938rem; ;
	 font-weight: 300;
 }
 .btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--light-yellow);
    color:var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btn:hover{
    background:var(--yellow);
}
 .vehicles .vehicles-slider{
    padding-bottom: 5rem;
}

.vehicles .vehicles-slider .box{
    text-align: center;
}

.vehicles .vehicles-slider .box img{
    width:100%;
    transform: scale(.8);
    opacity: .5;
}

.vehicles .vehicles-slider .box .content{
    padding-top: 1rem;
    transform: scale(0);
}

.vehicles .vehicles-slider .swiper-slide-active .content{
    transform: scale(1);
}

.vehicles .vehicles-slider .swiper-slide-active img{
    transform: scale(1);    
    opacity: 1;
}

.vehicles .vehicles-slider .box .content h3{
    font-size: 2.5rem;
    color:var(--black);
}

.vehicles .vehicles-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--yellow);
    padding:1rem 0;
    font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span{
    color:var(--light-color);
    font-size: 1.5rem;
    font-weight: normal;
}

.vehicles .vehicles-slider .box .content p{
    font-size: 1.6rem;
    color:var(--light-color);
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.vehicles .vehicles-slider .box .content span{
    font-size: 1rem;
    color:var(--yellow);
    padding:0 .5rem;
}

.swiper-pagination-bullet-active{
    background: var(--yellow);
}
 /*--- End Vechicle slider section ---*/


/*---Footer---*/

.footer {
	background: #303036;
	color: #d3d3d3;
	height: 400px;
	position: relative;
  }
  
  .footer .footer-content {
	height: 350px;
	display: flex;
  }
  
  .footer .footer-content .footer-section {
	flex: 1;
	padding: 25px;
  }
  
  .footer .footer-content h1,
  .footer .footer-content h2 {
	color: white;
  }
  
  .footer .footer-content .about h1 span {
	color: #05f7ff;
  }
  
  .footer .footer-content .about .contact span {
	display: block;
	font-size: 1.1em;
	margin-bottom: 8px;
  }
  
  .footer .footer-content .about .socials a {
	border: 1px solid gray;
	width: 45px;
	height: 41px;
	padding-top: 5px;
	margin-right: 5px;
	text-align: center;
	display: inline-block;
	font-size: 1.3em;
	border-radius: 5px;
	transition: all .3s;
  }
  
  .footer .footer-content .about .socials a:hover {
	border: 1px solid white;
	color: white;
	transition: all .3s;
  }
  
  .footer .footer-content .links ul a {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
	transition: all .3s;
  }
  
  .footer .footer-content .links ul a:hover {
	color: white;
	margin-left: 15px;
	transition: all .3s;
  }
  
  .footer .footer-content .contact-form .contact-input {
	background: #272727;
	color: #bebdbd;
	margin-bottom: 10px;
	line-height: 1.5rem;
	padding: .9rem 1.4rem;
	border: none;
  }
  
  .footer .footer-content .contact-form .contact-input:focus {
	background: #1a1a1a;
  }
  
  .footer .footer-content .contact-form .contact-btn {
	float: right;
	font-size: 1.1em;
	font-family: 'Lora', serif;
  }
  
  .footer .footer-bottom {
	background: #343a40;
	color: #686868;
	height: 50px;
	width: 150%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;
  }

