@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif; 
    box-sizing:border-box;
    margin: 0;
    padding:0;
    color: #505962;
     

}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

/* Navbar */

.navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size:0.9rem;
  letter-spacing: .1rem;
  background:rgba(0,0,0,.6)!important;
    
}   
.navbar-brand img{
  height: 3rem;

}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #8d1e8d;
  padding-top:.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #251e8d;
}

/*---slider ---*/

.carousel-item{
  height: 100vh;
 }
 
 .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;
 }
 
 .carousel-caption h5{
  font-size: 42px;
 }
 
 
 /*---Customer on home page ---*/
 
 .narrow{
  width: 65%;
  margin: 0 auto;
  padding-top: 2rem;
 }
 
 .btn-md{
  border-width: medium;
  border-radius: 0;
  padding: -6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
 }

 /* Footer */

.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



