@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

body{
  overflow-x: hidden;
    box-sizing:border-box;
    margin: 0;
    padding:0;
    color: #505962;
     

}
/* Navbar */

.navbar {
  text-transform: uppercase;
  font-weight: 500;
  font-size:0.9rem;
  letter-spacing: .1rem;
  background:rgba(0,0,0,.6)!important;
    
}   
.navbar-brand img{
  height: 3rem;

}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color: #8d1e8d;
  padding-top:.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #251e8d;
}

/*---slider ---*/

.carousel-item{
  height: 100vh;
 }
 
 .carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial!important;
 }
 
 .carousel-caption h5{
  font-size: 42px;
 }
 
 
 /*---Customer on home page ---*/
 
 .narrow{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
 }
 
 .btn-md{
  border-width: medium;
  border-radius: 0;
  padding: -6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
 }





/* 

.layout_padding {
    padding: 90px 0;
  }
  
  .layout_padding2 {
    padding: 75px 0;
  }
  
  .layout_padding2-top {
    padding-top: 75px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 75px;
  }
  
  .layout_padding-top {
    padding-top: 90px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 90px;
  }
  
  .layout_margin-top {
    margin-top: 90px;
  }
  
  .layout_margin-bottom {
    margin-bottom: 90px;
  }

li, a {
    font-family: "Roboto",sans-serif;
    text-decoration: none;
    
}

header{
    display: flex;

    padding: 30px 10%;
} */



